::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    background: linear-gradient(to top, #fcf5ee, #faf7e6, #73d2f3, #eeeeee);
    border-radius: 1px;
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    background: linear-gradient(to top, #fcf5ee, #faf7e6, #73d2f3, #eeeeee);
}

::-webkit-scrollbar-button {
    background-color: #ffffff;
}

::-webkit-scrollbar-corner {
    background: #ffffff;
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}